master_pipeline/master_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"DWH_ClinicalData":{"type":"string"},"clinical_raw_data_lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"master_pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"invoke_silver_transformation","type":"TridentNotebook","dependsOn":[{"activity":"invoke_bronze_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"ab23bbdd-580d-4de7-bdce-b22e3ded416c","workspaceId":"636f8279-c6de-46a4-9d5a-71f77b0fb358"}},{"name":"invoke_gold_transformation","type":"TridentNotebook","dependsOn":[{"activity":"invoke_silver_transformation","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"f78c8368-25f1-4374-8b77-2c79abdb6570","workspaceId":"636f8279-c6de-46a4-9d5a-71f77b0fb358"}},{"name":"invoke_bronze_ingestion","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"377e4258-294a-4c95-af7c-8fee4c851368","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}}],"lastModifiedByObjectId":"a60dab45-3436-4811-bfc8-8a6ab7a0e204","lastPublishTime":"2025-09-01T13:17:11Z"},"dependsOn":[]},{"name":"pipeline-ingest_raw_data","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Load_Control_Data","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DataWarehouseSource","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"DWH_ClinicalData","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"4r27fdfiednudcqynhpfk7zu54-pgbg6y66y2senhk2oh3xwd5tla.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('DWH_ClinicalData')]","workspaceId":"636f8279-c6de-46a4-9d5a-71f77b0fb358"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"control","table":"file_ingestion"}}}},{"name":"ForEach_Control_Record","type":"ForEach","dependsOn":[{"activity":"Load_Control_Data","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Load_Control_Data').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Set_FileName","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"input_file_name","value":{"value":"@item().file_name","type":"Expression"}}},{"name":"Set_TableName","type":"SetVariable","dependsOn":[{"activity":"Set_FileName","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"output_table_name","value":{"value":"@concat('bronze_', replace(item().file_name, '.csv', ''))","type":"Expression"}}},{"name":"LoadBronzeData","type":"Copy","dependsOn":[{"activity":"Set_TableName","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"clinical_raw_data_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"636f8279-c6de-46a4-9d5a-71f77b0fb358","artifactId":"[parameters('clinical_raw_data_lakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@variables('input_file_name')","type":"Expression"},"folderPath":"bronze_data/clinical/raw_data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"sink":{"type":"LakehouseTableSink","tableActionOption":"Append","datasetSettings":{"annotations":[],"linkedService":{"name":"clinical_raw_data_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"636f8279-c6de-46a4-9d5a-71f77b0fb358","artifactId":"[parameters('clinical_raw_data_lakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@variables('output_table_name')","type":"Expression"}}}},"enableStaging":false}}]}}],"variables":{"input_file_name":{"type":"String"},"output_table_name":{"type":"String"}},"lastModifiedByObjectId":"a60dab45-3436-4811-bfc8-8a6ab7a0e204","lastPublishTime":"2025-08-20T00:02:43Z"},"dependsOn":[]}]}